@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

:root {
  --font-main: "Bebas Neue", cursive;
  --font-additional: "PT Sans", sans-serif;
  --main-color: #222323;
  --main-color-light: #717474;
  --accent-color: rgb(255, 255, 255);
  --additionalcolor: rgb(214, 3, 7);
}

body {
  max-width: 1200px;
  margin: auto;
}

#text-selection {
  color: var(--additionalcolor);
}

section.main-title-block {
  background-image: url(../img/main-banner-photo.jpeg);
}

section.title-block-trending {
  background-image: url(../img/title-block-trending.webp);
  background-position: center;
}

section.sale-of-the-month {
  background-image: url(../img/sale-of-the-month-background.png);
  background-position: center;
}

section.main-title-block,
section.title-block-trending,
section.sale-of-the-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  background-size: cover;
  font-family: var(--font-main);
}

.main-title-block .banner-info p,
.title-block-trending .banner-info p {
  color: var(--main-color-light);
}
.banner-info h1 {
  color: var(--main-color);
  text-align: left;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
}

section.sale-of-the-month .banner-info p {
  color: var(--accent-color);
}

section.sale-of-the-month .banner-info h1 {
  color: var(--accent-color);
  text-align: left;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
}

.product-categories {
  color: var(--main-color);
}

.product-categories .arrivals {
  background-image: url(../img/new-arrivals.svg);
  box-sizing: border-box;
  width: 100%;
  background-size: cover;
}

.product-categories .trainers {
  background-image: url(../img/product-categories-trainers.png);
  background-size: cover;
  background-position: 20%;
  box-sizing: border-box;
  width: 100%;
}

.product-categories .hot-sale {
  background-image: url(../img/product-categories-hot-sale.png);
  background-size: cover;
  background-position: 20%;
  box-sizing: border-box;
  width: 100%;
}

.product-categories .arrivals h2,
.product-categories .trainers h2,
.product-categories .hot-sale h2 {
  font-family: var(--font-main);
}

.product-categories .arrivals a,
.product-categories .trainers a,
.product-categories .hot-sale a {
  font-family: var(--font-main);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400px;
  color: var(--main-color);
}

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding-top: 50px;
}

.advantages .advantages-info,
.season-sale .season-sale-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.advantages-info h2,
.season-sale-info h2 {
  font-family: var(--font-main);
  color: var(--main-color);
}

.advantages-info p,
.season-sale-info p {
  text-align: center;
  font-family: var(--font-additional);
  color: var(--main-color-light);
}

.advantages-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #71747469;
  text-align: center;
}

.advantages-list-container h3 {
  font-family: var(--font-main);
  color: var(--main-color);
}

.advantages-list-container p {
  font-family: var(--font-additional);
  color: var(--main-color-light);
}

.advantages-info p {
  font-size: 16px;
}

.about-us {
  background-color: var(--main-color);
}

.about-us-foto {
  background-image: url(../img/about-us.jpeg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  width: 100%;
}

.about-us {
  color: var(--accent-color);
}

.about-us-info h2 {
  font-family: var(--font-main);
}

.about-us-info h3,
.about-us-info p {
  font-family: var(--font-additional);
}

.about-us-social-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 30px;
}

.season-sale-info p {
  font-size: 20px;
}

.catalog-sale-item {
  display: grid;
  grid-template-rows: 1fr auto auto auto;
  grid-template-columns: 1fr;
}

.catalog-sale-photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.catalog-sale-item a {
  margin-top: 24px;
  font-family: var(--font-additional);
  font-size: 18px;
  color: var(--main-color-light);
  text-decoration: none;
}

.catalog-sale-item p {
  margin-top: 16px;
  margin-bottom: 24px;
  font-family: var(--font-additional);
  font-size: 18px;
  font-weight: 600;
  color: var(--additionalcolor);
}

.deal-of-month-info {
  background-color: var(--main-color);
  color: var(--accent-color);
}

.deal-of-month-foto {
  background-image: url(../img/deal-of-the-month-background.png);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  width: 100%;
}

.deal-of-month-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.deal-of-month-info h2 {
  font-family: var(--font-main);
}

.deal-of-month-info h3,
.deal-of-month-info p {
  font-family: var(--font-additional);
}

@media (min-width: 360px) {
  .main-title-block,
  .title-block-trending,
  .sale-of-the-month {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  .banner-info {
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner-info p {
    font-size: 22px;
  }

  .banner-info h1 {
    margin-top: 20px;
    font-size: 62px;
  }

  .button-banner-info {
    margin-top: 50px;
  }

  .product-categories {
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
    box-sizing: border-box;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 60px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .arrivals,
  .trainers,
  .hot-sale {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-srart;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 33px;
    padding-right: 33px;
  }

  .product-categories .arrivals h2,
  .product-categories .trainers h2,
  .product-categories .hot-sale h2 {
    margin-top: 136px;
    font-size: 38px;
  }

  .trainers,
  .hot-sale {
    margin-top: 50px;
  }

  .advantages {
    padding-bottom: 90px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .advantages-info h2,
  .season-sale-info h2 {
    font-size: 38px;
  }

  .advantages-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin-top: 45px;
  }

  .advantages-list-margin {
    margin-top: -50px;
  }

  .advantages-list-container {
    margin-top: 50px;
    padding-top: 31px;
    padding-bottom: 31px;
    padding-right: 27px;
    padding-left: 27px;
  }

  .advantages-list-container h3 {
    margin-top: 20px;
    font-size: 22px;
  }

  .advantages-list-container p {
    margin-top: 20px;
    font-size: 16px;
  }

  .about-us {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
    width: 100%;
  }

  .about-us-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .about-us-info h2 {
    font-size: 38px;
  }

  .about-us-info h3 {
    font-size: 20px;
  }

  .about-us-info p {
    margin-top: 25px;
    font-size: 16px;
  }

  .season-sale {
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .catalog-sale-list {
    margin-top: 45px;
  }

  .catalog-sale-list-marg {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .catalog-sale-item {
    margin-top: 50px;
  }

  .deal-of-month-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
    width: 100%;
  }

  .deal-of-month-info {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .deal-of-month-info h2 {
    font-size: 62px;
  }

  .deal-of-month-info h3 {
    margin-top: 35px;
    font-size: 20px;
    font-weight: 600;
  }

  .deal-of-month-info .tall-font {
    font-size: 52px;
  }

  .deal-of-month-info p {
    margin-top: 20px;
    font-size: 20px;
  }

  .deal-of-month-info a {
    margin-top: 35px;
    text-decoration: none;
    color: var(--accent-color);
  }

  .deal-of-month-timer {
    margin-top: 35px;
  }

  .map-block {
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-height: 740px;
  }
}

@media (min-width: 760px) {
  .main-title-block,
  .title-block-trending,
  .sale-of-the-month {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  .banner-info {
    padding-left: 32px;
    padding-right: 32px;
  }

  .banner-info p {
    font-size: 24px;
  }

  .banner-info h1 {
    margin-top: 15px;
    font-size: 93px;
  }

  .button-banner-info {
    margin-top: 50px;
  }

  .product-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding-top: 105px;
    padding-bottom: 60px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .arrivals,
  .trainers,
  .hot-sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: auto;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .arrivals {
    flex-basis: 50%;
    max-width: 50%;
    padding-top: 37px;
    padding-bottom: 37px;
    padding-left: 37px;
    padding-right: 37px;
  }

  .trainers,
  .hot-sale {
    padding-top: 37px;
    padding-bottom: 37px;
    padding-left: 20px;
    padding-right: 20px;
    flex-basis: 25%;
    max-width: 25%;
    margin-top: 31px;
  }

  .product-categories .arrivals h2,
  .product-categories .trainers h2,
  .product-categories .hot-sale h2 {
    margin-top: 152px;
    font-size: 45px;
  }

  .advantages {
    padding-bottom: 105px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .advantages-info {
    margin-bottom: 45px;
  }

  .advantages-info h2,
  .season-sale-info h2 {
    font-size: 45px;
  }

  .advantages-list-margin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
    width: 100%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .advantages-list-container {
    margin-top: 0px;
  }

  .about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    box-sizing: border-box;
    width: 100%;
  }

  .about-us-info h2 {
    font-size: 45px;
  }
  .about-us-info h3 {
    margin-bottom: 25px;
  }

  .about-us-info p {
    margin-top: 25px;
    font-size: 16px;
  }

  .season-sale {
    padding-top: 100px;
    padding-bottom: 105px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .catalog-sale-list-marg {
    margin-top: -50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }
  /*
    grid-row-gap: 30px;
    grid-template-areas:
      "hd mn"
      "sd ct"
      "ft ft";
  }
  .grid-cat-sale-item-one {
    grid-area: hd;
  }

  .grid-cat-sale-item-two {
    grid-area: mn;
  }

  .grid-cat-sale-item-three {
    grid-area: sd;
  }

  .grid-cat-sale-item-four {
    grid-area: ct;
  }

  .grid-cat-sale-item-five {
    grid-area: ft;
  }*/

  .deal-of-month-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    box-sizing: border-box;
    width: 100%;
  }

  .deal-of-month-info {
    padding-top: 130px;
    padding-bottom: 135px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .deal-of-month-info h2 {
    font-size: 93px;
  }

  .deal-of-month-info h3 {
    margin-top: 20px;
  }

  .deal-of-month-info .tall-font {
    font-size: 55px;
  }

  .deal-of-month-info p {
    margin-top: 20px;
  }
}

@media (min-width: 960px) {
  .main-header-container {
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    width: 100%;
  }

  .top-insert-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--additionalcolor);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
    font-family: var(--font-additional);
    font-weight: bold;
    color: var(--accent-color);
  }

  .header-info {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: -16px;
  }

  .header-contacts {
    margin-left: 15px;
    margin-right: 15px;
  }

  .header-contacts .header-contacts-data {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: var(--font-additional);
  }

  #main-header.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--main-color);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-logo {
    margin-left: 20px;
    margin-right: 20px;
  }

  .menu-liks {
    margin-left: 15px;
    margin-right: 15px;
    color: var(--accent-color);
  }

  .nav-item {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .nav-link active {
    color: var(--accent-color);
  }

  .social-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  /*Закончить бургер менюшку!!!*/
  .main-title-block,
  .title-block-trending,
  .sale-of-the-month {
    padding-top: 210px;
    padding-bottom: 210px;
  }

  .banner-info {
    padding-left: 40px;
    padding-right: 40px;
  }

  .banner-info p {
    font-size: 26px;
  }

  .banner-info h1,
  .title-block-trending .block-trending-info h1 {
    margin-top: 15px;
    font-size: 124px;
    line-height: 1;
  }

  .button-banner-info {
    margin-top: 50px;
  }

  .product-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding-top: 120px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .arrivals,
  .trainers,
  .hot-sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: auto;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .arrivals {
    flex-basis: 50%;
    max-width: 50%;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .trainers,
  .hot-sale {
    flex-basis: 25%;
    max-width: 25%;
    margin-top: 31px;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .product-categories .arrivals h2,
  .product-categories .trainers h2,
  .product-categories .hot-sale h2 {
    margin-top: 152px;
    font-size: 52px;
  }

  .advantages {
    padding-bottom: 120px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .advantages-info h2,
  .season-sale-info h2 {
    font-size: 52px;
  }

  .advantages-info p {
    font-size: 24px;
  }

  .advantages-list {
    margin-top: 50px;
  }

  .advantages-list-margin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    box-sizing: border-box;
    width: 100%;
    grid-column-gap: 30px;
  }

  .advantages-list-container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .season-sale {
    padding-top: 110px;
    padding-bottom: 120px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .catalog-sale-list-marg {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .deal-of-month-info {
    padding-top: 160px;
    padding-bottom: 170px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .deal-of-month-info h2 {
    font-size: 124px;
  }

  .deal-of-month-info a {
    margin-top: 40px;
  }

  .deal-of-month-timer {
    margin-top: 40px;
  }

  /*Черновик*/
  .new-arrivals {
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 120px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .arrivals-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding-right: 40px;
  }

  .arrivals-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

/*Controls*/

.button {
  background-color: #f40106; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: var(--main-color);
  color: white;
}

.button-bright {
  background-color: var(--accent-color); /* Red */
  border: none;
  color: var(--main-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}
.button-bright:hover {
  background-color: var(--main-color);
  color: white;
}

.countdown {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
}

.countdown-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a6acac83;
  border-radius: 5px;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.countdown-time {
  color: var(--accent-color);
  font-family: var(--font-main);
  font-size: 25px;
}

.countdown-text {
  color: #a6acac83;
  font-family: var(--font-additional);
  font-size: 14px;
}
